GLXNAVWebApp/Service References/Permissions/BSL_Permissions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdata_Permissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_Permissions" nillable="true" type="tns:data_Permissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_Permissions" nillable="true" type="tns:ArrayOfdata_Permissions" />
  <xs:complexType name="data_Permissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Allow" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_Permissions" nillable="true" type="tns:data_Permissions" />
</xs:schema>