GLXNAVWebApp/Service References/Permissions/BSL_Permissions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27169/SVC/BSL_Permissions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Classes" />
  <xs:element name="GetPermissionByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="GetPermissionByUserResult" nillable="true" type="q1:ArrayOfdata_Permissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyPermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>