GLXNAVWebApp/Service References/POWaitingForApprove/BSL_POWaitingForApprove1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27169/SVC/BSL_POWaitingForApprove.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Classes" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="todate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfdata_POWaitingForApprove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPermissionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateToApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateToApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateToApproveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reopen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReopenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConverted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="convertType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConvertedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConvertedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCommentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TobeDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TobeDeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TobeDeletedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecIdFromKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecIdFromKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="GetRecIdFromKeyResult" nillable="true" type="q2:data_POWaitingForApprove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="data" nillable="true" type="q3:data_POWaitingForApprove" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>