GLXNAVWebApp/Service References/POWaitingForApprove/BSL_POWaitingForApprove2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdata_POWaitingForApprove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_POWaitingForApprove" nillable="true" type="tns:data_POWaitingForApprove" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_POWaitingForApprove" nillable="true" type="tns:ArrayOfdata_POWaitingForApprove" />
  <xs:complexType name="data_POWaitingForApprove">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accept_Action_Message" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Action_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeLog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvertType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Converted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direct_Unit_Cost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Due_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Location_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original_Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Replenishment_System" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit_of_Measure_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vendor_Item_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor_No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_POWaitingForApprove" nillable="true" type="tns:data_POWaitingForApprove" />
</xs:schema>