GLXNAVWebApp/Web References/PurchaseOrder/PurchaseOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/purchaseorder" targetNamespace="urn:microsoft-dynamics-schemas/page/purchaseorder" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/purchaseorder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Job_Queue_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Scheduled_for_Posting" />
          <xsd:enumeration value="Error" />
          <xsd:enumeration value="Posting" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="IC_Partner_Ref_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Charge_Item" />
          <xsd:enumeration value="Cross_Reference" />
          <xsd:enumeration value="Common_Item_No" />
          <xsd:enumeration value="Vendor_Item_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Job_Line_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Budget" />
          <xsd:enumeration value="Billable" />
          <xsd:enumeration value="Both_Budget_and_Billable" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Planning_Flexibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unlimited" />
          <xsd:enumeration value="None" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Purchase_Order_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cross_Reference_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Ref_Type" type="tns:IC_Partner_Ref_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Reference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nonstock" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vietnamese_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_By_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Modified_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Modified_By_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drop_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Return_Reason_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Remaining_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Depreciation_Book_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Direct_Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indirect_Cost_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Amt_Inv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Invoice_Disc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inv_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Receive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Received" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Invoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Amt_to_Deduct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Amt_Deducted" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Item_Charge_Assignment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Assign" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Assigned" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Task_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Planning_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Type" type="tns:Job_Line_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Total_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Unit_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Total_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Line_Disc_Amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Promised_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planned_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planning_Flexibility" type="tns:Planning_Flexibility" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prod_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prod_Order_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Operation_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Work_Center_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Finished" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Outstanding_Qty_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blanket_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blanket_Order_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appl_to_Item_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Deferral_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Discount_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Disc_Pct" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Excl_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_VAT_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Incl_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RefreshTotals" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Purchase_Order_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Purchase_Order_Line" type="tns:Purchase_Order_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchaseOrder">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vendor_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hard_Copy_Contract_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Vietnamese_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Buy_from_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Invoice_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Template_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchaser_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_of_Archived_Versions" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vietnamese_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_By_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Modified_By_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Modified_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quote_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Shipment_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Address_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Responsibility_Center" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Assigned_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receive" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Queue_Status" type="tns:Job_Queue_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prices_Including_VAT" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pmt_Discount_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Reference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creditor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="On_Hold" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Promised_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Vietnamese_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Vietnamese_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Specification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transport_Method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_Point" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Compress_Prepayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Pmt_Discount_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Cr_Memo_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchLines" type="tns:Purchase_Order_Line_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchaseOrder_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PurchaseOrder" type="tns:PurchaseOrder" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PurchaseOrder_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Buy_from_Vendor_No" />
          <xsd:enumeration value="Buy_from_Vendor_Name" />
          <xsd:enumeration value="Hard_Copy_Contract_No" />
          <xsd:enumeration value="Buy_from_Address" />
          <xsd:enumeration value="Buy_from_Address_2" />
          <xsd:enumeration value="Buy_from_Post_Code" />
          <xsd:enumeration value="Buy_from_City" />
          <xsd:enumeration value="Buy_from_Contact_No" />
          <xsd:enumeration value="Buy_from_Vietnamese_Name" />
          <xsd:enumeration value="Buy_from_Contact" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Vendor_Invoice_No" />
          <xsd:enumeration value="VAT_Template_Code" />
          <xsd:enumeration value="Purchaser_Code" />
          <xsd:enumeration value="No_of_Archived_Versions" />
          <xsd:enumeration value="Vietnamese_Description" />
          <xsd:enumeration value="VAT_Description" />
          <xsd:enumeration value="Order_Date" />
          <xsd:enumeration value="Created_By_User_ID" />
          <xsd:enumeration value="Created_Date" />
          <xsd:enumeration value="Modified_By_User_ID" />
          <xsd:enumeration value="Modified_Date" />
          <xsd:enumeration value="Quote_No" />
          <xsd:enumeration value="Vendor_Order_No" />
          <xsd:enumeration value="Vendor_Shipment_No" />
          <xsd:enumeration value="Order_Address_Code" />
          <xsd:enumeration value="Responsibility_Center" />
          <xsd:enumeration value="Assigned_User_ID" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Receive" />
          <xsd:enumeration value="Job_Queue_Status" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Expected_Receipt_Date" />
          <xsd:enumeration value="Prices_Including_VAT" />
          <xsd:enumeration value="VAT_Bus_Posting_Group" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Transaction_Type" />
          <xsd:enumeration value="Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="Payment_Discount_Percent" />
          <xsd:enumeration value="Pmt_Discount_Date" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Payment_Reference" />
          <xsd:enumeration value="Creditor_No" />
          <xsd:enumeration value="On_Hold" />
          <xsd:enumeration value="Inbound_Whse_Handling_Time" />
          <xsd:enumeration value="Lead_Time_Calculation" />
          <xsd:enumeration value="Requested_Receipt_Date" />
          <xsd:enumeration value="Promised_Receipt_Date" />
          <xsd:enumeration value="Sell_to_Customer_No" />
          <xsd:enumeration value="Ship_to_Vietnamese_Name" />
          <xsd:enumeration value="Ship_to_Code" />
          <xsd:enumeration value="Ship_to_Name" />
          <xsd:enumeration value="Ship_to_Address" />
          <xsd:enumeration value="Ship_to_Address_2" />
          <xsd:enumeration value="Ship_to_Post_Code" />
          <xsd:enumeration value="Ship_to_City" />
          <xsd:enumeration value="Ship_to_Contact" />
          <xsd:enumeration value="Pay_to_Name" />
          <xsd:enumeration value="Pay_to_Address" />
          <xsd:enumeration value="Pay_to_Address_2" />
          <xsd:enumeration value="Pay_to_Post_Code" />
          <xsd:enumeration value="Pay_to_City" />
          <xsd:enumeration value="Pay_to_Contact_No" />
          <xsd:enumeration value="Pay_to_Vietnamese_Name" />
          <xsd:enumeration value="Pay_to_Contact" />
          <xsd:enumeration value="Transaction_Specification" />
          <xsd:enumeration value="Transport_Method" />
          <xsd:enumeration value="Entry_Point" />
          <xsd:enumeration value="Area" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="Compress_Prepayment" />
          <xsd:enumeration value="Prepmt_Payment_Terms_Code" />
          <xsd:enumeration value="Prepayment_Due_Date" />
          <xsd:enumeration value="Prepmt_Payment_Discount_Percent" />
          <xsd:enumeration value="Prepmt_Pmt_Discount_Date" />
          <xsd:enumeration value="Vendor_Cr_Memo_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PurchaseOrder_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:PurchaseOrder_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:PurchaseOrder_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrder_List" type="tns:PurchaseOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostReceive">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="purchHeader" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostReceive_Result">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PurchLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PurchLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PurchLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_PurchLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="PostReceive">
    <part name="parameters" element="tns:PostReceive" />
  </message>
  <message name="PostReceive_Result">
    <part name="parameters" element="tns:PostReceive_Result" />
  </message>
  <message name="Delete_PurchLines">
    <part name="parameters" element="tns:Delete_PurchLines" />
  </message>
  <message name="Delete_PurchLines_Result">
    <part name="parameters" element="tns:Delete_PurchLines_Result" />
  </message>
  <portType name="PurchaseOrder_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="PostReceive">
      <input name="PostReceive" message="tns:PostReceive" />
      <output name="PostReceive_Result" message="tns:PostReceive_Result" />
    </operation>
    <operation name="Delete_PurchLines">
      <input name="Delete_PurchLines" message="tns:Delete_PurchLines" />
      <output name="Delete_PurchLines_Result" message="tns:Delete_PurchLines_Result" />
    </operation>
  </portType>
  <binding name="PurchaseOrder_Binding" type="tns:PurchaseOrder_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PostReceive">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:PostReceive" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PostReceive">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PostReceive_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_PurchLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/purchaseorder:Delete_PurchLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_PurchLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_PurchLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PurchaseOrder_Service">
    <port name="PurchaseOrder_Port" binding="tns:PurchaseOrder_Binding">
      <address location="http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT/Page/PurchaseOrder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>