GLXNAVWebApp/Web References/PurchaseOrder_CU/PurchaseOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="UseOneJnl">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UseOneJnl_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="InitializeRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="expirationDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="orderDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="postingDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="expectedReceiptDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="yourRef" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="InitializeRequest_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetHideDialog">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="newHideDialog" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetHideDialog_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TestConnection">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TestConnection_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="UseOneJnl">
    <part name="parameters" element="tns:UseOneJnl" />
  </message>
  <message name="UseOneJnl_Result">
    <part name="parameters" element="tns:UseOneJnl_Result" />
  </message>
  <message name="InitializeRequest">
    <part name="parameters" element="tns:InitializeRequest" />
  </message>
  <message name="InitializeRequest_Result">
    <part name="parameters" element="tns:InitializeRequest_Result" />
  </message>
  <message name="SetHideDialog">
    <part name="parameters" element="tns:SetHideDialog" />
  </message>
  <message name="SetHideDialog_Result">
    <part name="parameters" element="tns:SetHideDialog_Result" />
  </message>
  <message name="TestConnection">
    <part name="parameters" element="tns:TestConnection" />
  </message>
  <message name="TestConnection_Result">
    <part name="parameters" element="tns:TestConnection_Result" />
  </message>
  <portType name="PurchaseOrder_Port">
    <operation name="UseOneJnl">
      <input name="UseOneJnl" message="tns:UseOneJnl" />
      <output name="UseOneJnl_Result" message="tns:UseOneJnl_Result" />
    </operation>
    <operation name="InitializeRequest">
      <input name="InitializeRequest" message="tns:InitializeRequest" />
      <output name="InitializeRequest_Result" message="tns:InitializeRequest_Result" />
    </operation>
    <operation name="SetHideDialog">
      <input name="SetHideDialog" message="tns:SetHideDialog" />
      <output name="SetHideDialog_Result" message="tns:SetHideDialog_Result" />
    </operation>
    <operation name="TestConnection">
      <input name="TestConnection" message="tns:TestConnection" />
      <output name="TestConnection_Result" message="tns:TestConnection_Result" />
    </operation>
  </portType>
  <binding name="PurchaseOrder_Binding" type="tns:PurchaseOrder_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="UseOneJnl">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder:UseOneJnl" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UseOneJnl">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UseOneJnl_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="InitializeRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder:InitializeRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="InitializeRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="InitializeRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetHideDialog">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder:SetHideDialog" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetHideDialog">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetHideDialog_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="TestConnection">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PurchaseOrder:TestConnection" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="TestConnection">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="TestConnection_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PurchaseOrder">
    <port name="PurchaseOrder_Port" binding="tns:PurchaseOrder_Binding">
      <address location="http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Codeunit/PurchaseOrder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>