GLXNAVWebApp/Service References/GLXRequisitionWkshName/BSL_RequisitionWkshName1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdata_RequisitionWkshName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_RequisitionWkshName" nillable="true" type="tns:data_RequisitionWkshName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_RequisitionWkshName" nillable="true" type="tns:ArrayOfdata_RequisitionWkshName" />
  <xs:complexType name="data_RequisitionWkshName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recurring" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Template_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Worksheet_Template_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_RequisitionWkshName" nillable="true" type="tns:data_RequisitionWkshName" />
</xs:schema>