GLXNAVWebApp/Service References/GLXRequisitionWkshName/BSL_RequisitionWkshName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27169/SVC/BSL_RequisitionWkshName.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Classes" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfdata_RequisitionWkshName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO.Classes" minOccurs="0" name="GetDataByUserResult" nillable="true" type="q2:ArrayOfdata_RequisitionWkshName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>