GLXNAVWebApp/Service References/RBSL_LocationAndAccount/BSL_LocationAndAccount2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdata_LocationAndAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_LocationAndAccount" nillable="true" type="tns:data_LocationAndAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_LocationAndAccount" nillable="true" type="tns:ArrayOfdata_LocationAndAccount" />
  <xs:complexType name="data_LocationAndAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_LocationAndAccount" nillable="true" type="tns:data_LocationAndAccount" />
</xs:schema>