GLXNAVWebApp/Web References/Item_Reclass_Journal/Item_Reclass_Journal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/item_reclass_journal" targetNamespace="urn:microsoft-dynamics-schemas/page/item_reclass_journal" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/item_reclass_journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="Item_Reclass_Journal">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vietnamese_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salespers_Purch_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indirect_Cost_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applies_to_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reason_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item_Reclass_Journal_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Item_Reclass_Journal_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Document_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Vietnamese_Description" />
          <xsd:enumeration value="Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="New_Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="New_Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="ShortcutDimCode_x005B_3_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_3_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_4_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_4_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_5_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_5_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_6_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_6_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_7_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_7_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_8_x005D_" />
          <xsd:enumeration value="NewShortcutDimCode_x005B_8_x005D_" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Bin_Code" />
          <xsd:enumeration value="New_Location_Code" />
          <xsd:enumeration value="New_Bin_Code" />
          <xsd:enumeration value="Salespers_Purch_Code" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="Gen_Prod_Posting_Group" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Unit_Amount" />
          <xsd:enumeration value="Amount" />
          <xsd:enumeration value="Indirect_Cost_Percent" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Applies_to_Entry" />
          <xsd:enumeration value="Reason_Code" />
          <xsd:enumeration value="ItemDescription" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Item_Reclass_Journal_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Item_Reclass_Journal_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Item_Reclass_Journal_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Item_Reclass_Journal_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal_List" type="tns:Item_Reclass_Journal_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal_List" type="tns:Item_Reclass_Journal_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal" type="tns:Item_Reclass_Journal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal_List" type="tns:Item_Reclass_Journal_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Item_Reclass_Journal_List" type="tns:Item_Reclass_Journal_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentJnlBatchName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Item_Reclass_Journal_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Item_Reclass_Journal_Binding" type="tns:Item_Reclass_Journal_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/item_reclass_journal:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Item_Reclass_Journal_Service">
    <port name="Item_Reclass_Journal_Port" binding="tns:Item_Reclass_Journal_Binding">
      <address location="http://glxpwnav01.galaxy.local.vn:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/Item_Reclass_Journal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>