GLXNAVWebApp/Service References/GLXAccountSVC/BSL_GLXAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BSL_GLXAccount" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27169/SVC/BSL_GLXAccount.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27169/SVC/BSL_GLXAccount.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27169/SVC/BSL_GLXAccount.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBSL_GLXAccount_CheckExistsItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckExistsItem" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_CheckExistsItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckExistsItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_GetAllAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccount" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_GetAllAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_createUser_InputMessage">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_createUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_DelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="IBSL_GLXAccount_DelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IBSL_GLXAccount">
    <wsdl:operation name="CheckExistsItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSL_GLXAccount/CheckExistsItem" message="tns:IBSL_GLXAccount_CheckExistsItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSL_GLXAccount/CheckExistsItemResponse" message="tns:IBSL_GLXAccount_CheckExistsItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSL_GLXAccount/GetAll" message="tns:IBSL_GLXAccount_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSL_GLXAccount/GetAllResponse" message="tns:IBSL_GLXAccount_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSL_GLXAccount/GetAllAccount" message="tns:IBSL_GLXAccount_GetAllAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSL_GLXAccount/GetAllAccountResponse" message="tns:IBSL_GLXAccount_GetAllAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSL_GLXAccount/createUser" message="tns:IBSL_GLXAccount_createUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSL_GLXAccount/createUserResponse" message="tns:IBSL_GLXAccount_createUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBSL_GLXAccount/DelUser" message="tns:IBSL_GLXAccount_DelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBSL_GLXAccount/DelUserResponse" message="tns:IBSL_GLXAccount_DelUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBSL_GLXAccount" type="tns:IBSL_GLXAccount">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckExistsItem">
      <soap:operation soapAction="http://tempuri.org/IBSL_GLXAccount/CheckExistsItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBSL_GLXAccount/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccount">
      <soap:operation soapAction="http://tempuri.org/IBSL_GLXAccount/GetAllAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="http://tempuri.org/IBSL_GLXAccount/createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/IBSL_GLXAccount/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BSL_GLXAccount">
    <wsdl:port name="BasicHttpBinding_IBSL_GLXAccount" binding="tns:BasicHttpBinding_IBSL_GLXAccount">
      <soap:address location="http://localhost:27169/SVC/BSL_GLXAccount.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>