GLXNAVWebApp/Service References/GLXAccountSVC/BSL_GLXAccount2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdata_GLXAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_GLXAccount" nillable="true" type="tns:data_GLXAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_GLXAccount" nillable="true" type="tns:ArrayOfdata_GLXAccount" />
  <xs:complexType name="data_GLXAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_GLXAccount" nillable="true" type="tns:data_GLXAccount" />
  <xs:complexType name="ArrayOfdata_Account">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data_Account" nillable="true" type="tns:data_Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata_Account" nillable="true" type="tns:ArrayOfdata_Account" />
  <xs:complexType name="data_Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_Account" nillable="true" type="tns:data_Account" />
  <xs:complexType name="data_UserCreateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Companies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data_UserCreateRequest" nillable="true" type="tns:data_UserCreateRequest" />
</xs:schema>